<div class="container mt-3">
  <% if @another_entries.blank? %>
  <p>メッセージはまだありません。</p>
  <% else %>
  <% @another_entries.each do |another_entry| %>
    <%= link_to room_path(another_entry.room.id),class: "text-decoration-none" do %>
      <div class="row bg-info my-3">
          <div class="col-md-7 my-4 text-white">
              <%= image_tag another_entry.member.get_profile_image(50,50) %>　<%= another_entry.member.name %>
          </div>
          <div class="col-md-7"></div>
      </div>
    <% end %>
  <% end %>
  <% end %>

</div>
