<% if (@notifications.where.not(visitor_id: current_member.id)) && (@notifications.exists?) %>

  <% case notification.action %>
    <% when "follow" then %>
      <%= image_tag @visitor.member.get_profile_image(30,30) %>
      <%= @visitor.member.name %><snam>さんがあなたをフォローしました</snam>
    <% when "comment" then %>
      <%= image_tag @visitor.member.get_profile_image(30,30) %>
      <%= @visitor.member.name %><snam>さんがコメント</snam>
  <% end %>
<% else %>
  <P>通知はありません</P>
<% end %>