<% if current_member.empathies.find_by(post_id: post.id) %>
  <%= link_to post_empathies_path(post_id: post.id), class: 'text-decoration-none', method: :delete,remote: true do %>
    <i class="fas fa-lightbulb text-warning"></i>
    <span class = "text-secondary">
      <%= post.empathies.count %>
    </span>
  <% end %>
<% else %>
  <%= link_to post_empathies_path(post_id: post.id), class: 'text-decoration-none', method: :post,remote: true do %>
    <i class="far fa-lightbulb text-secondary"></i>
    <span class = "text-secondary">
      <%= post.empathies.count %>
    </span>
  <% end %>
<% end %>