<div class = "container">
  <div class = "row mx-2">

    <% @categories.each do |category| %>
      <div class    = "card col-md-4 offset-md-1 my-4 text-center bg-info change-button">
        <%= link_to category_posts_path(category.id), class: "text-white text-decoration-none" do %>
        <div class  = "card-body py-5">
          <h3 class = "card-title">
            <%= category.name %>
          </h3>
        </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>