<!--top-->
<div class ="container-fluid mb-5">
  <div class ="row d-flex justify-content-center">

    <div class ="col-md-8 col-sm-12">
      <div class ="card my-5" style="max-width: 800px">
        <%= image_tag 'top.jpg', class: "card-img mx-auto" %>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <p class ="d-flex align-items-end justify-content-end ">
        Bottle Mailは不妊治療をおこなっている方同士が気軽にお話ができるサイトです。<br>
        身近な人には話せない悩みや不安の相談、ちょっとした息抜きにご利用ください。<br>
        新規登録、ログインからご利用ください。</p>
    </div>
  </div>
</div>