<div class ="container-fluid mx-auto my-5">
  <div class ="row d-flex justify-content-center">

    <div class ="col-md-5 col-sm-8">
      <div class ="card my-3" style="max-width: 800px">
        <%= image_tag asset_path("top.jpg"), class: "card-img mx-auto" %>
      </div>
    </div>
    <div class="col-md-5 col-sm-8 d-flex align-items-center text-info">
      <p>Bottle Mailは不妊治療をおこなっている方同士が気軽にお話ができるサイトです。<br>
         身近な人には話せない悩みや不安の相談、ちょっとした息抜きにご利用ください。<br>
         新規登録、ログインは<%= link_to "こちら", new_member_registration_path %>。</p>
    </div>
  </div>
</div>