<div class ="container-fluid">
  <div class ="row d-flex justify-content-center">

    <div class ="col-8">
      <div class ="card top-image mt-4 d-flex align-items-end justify-content-end" style="max-width: 700px">
        <%#= image_tag 'top.jpg', class: "card-img mx-auto" %>
        <p class ="text-light ">
        Bottle Mailは不妊治療をおこなっている方同士が気軽にお話ができるサイトです。<br>
        身近な人には話せない悩みや不安の相談、ちょっとした息抜きにご利用ください。<br>
        新規登録、ログインからご利用ください。</p>
      </div>
    </div>

  </div>
</div>