@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header{
  background-color: #191970;
}

// memger categories index
.card{
  background-color: #4169e1;
}

.main-heignt {
  height: calc(100vh - 138px);
}

.hide-frame {
  border: none;
}

img.logo-image {
  width: 175px;
  height: auto;
}

@media screen and (max-width: 576px) {
  img.logo-image {
    width: 125px;
    height: auto;
  }
}