@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header{
  background-color: #191970;
}
// memger categories index
.card{
  background-color: #4169e1;
}

.member-edit {
  height: calc(100vh - 138px);
}