<%= form_with url: search_path, method: :get do |f| %>
  <div class="form-group row">
    <div class="col-sm-4 my-1">
      <%= f.text_field :word, class: "form-control" %>
    </div>
    <div class="col-sm-3 my-1">
      <%= f.select :range, options_for_select([["Member"],["Post"]], params[:range]), {}, {class: "form-control"} %>
    </div>
    <div class="col-sm-2 my-1">
      <%= f.submit "検索", class: "btn btn-secondary btn-block" %>
    </div>
  </div>
<% end %>