/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
  background-color: #191970;
}

// ハンバーガーメニュー
.hide-frame {
  border: none;
}

.main-heignt {
  height: calc(100vh - 138px);
}

img.logo-image {
  width: 150px;
  height: auto;
}

.form-design{
  height: 20vh;
}

@media screen and (max-width: 576px) {
  img.logo-image {
    width: 120px;
    height: auo;
  }
}

.empathy_count:hover {
  // background-color: yellow;
  border-bottom: solid 1px #000;
}

.dm-button {
  border-style: none;
  background-color: #fff;
}

.dm-button:focus {
  outline: solid 5px #fff;
}

body {
  card-img: image-url("top.jpg");
}